

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px; /* 1rem */
}

body {
    background-color: rgb(204,204,170,255);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-left: 10px;
    padding-right: 90px;
    padding-bottom: 15px;
    line-height: 160%;
    font-size: 90%;
}

.container {
    max-width: 900px;
    margin: 0 auto 0 auto
}

.fejlec {
    background: url(../img/logo.jpg);
    height: 200px;

}

h1 {
    padding-left: 203px;
    font-size: 3.5rem;
    color:white;
    text-transform: uppercase;
}

h2 {
    color: white;
    background: rgb(170,170,136,255);
    padding: 1px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 75px;
}

ul {
    list-style: none;
    float:left;
}

ul::after {
    content: "";
    clear: both;
    display: table;
  } /* fontos ha float-tal lebegtetünk! */

li {
    float:none;
    width: 280%;
    text-align: center;
    background:rgb(204,102,1,255);
    border: 1px solid rgb(255,255,255);
    border-left: none;
}

li:first-child{
    margin-top: 1px;
}

a {
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    color: #ddd;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.kep1 {
    float:right;
    margin: 15px 0 15px 20px;
}

.kep2 {
    float:left;
    margin: 0 20px 10px 5px;
}

.hasab {
    text-align: justify;
}

.bal {
    float:left;
}

.jobb {
    float:right;
    max-width: 76%;
    padding-left: 10px;
}

.content {
    background: white;
    padding-bottom: 20px;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

.lablec {
    background: rgb(241,217,119);
    color: rgb(209, 89, 9);
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 90px;
}

.header {
    /*position: sticky;*/
    top: 0; /* ez kell, hogy ténylegesen ragadjon, meg kell mondani mihez ragadjon*/
}